<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-dialog/master/dist/ax5dialog.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-uploader/master/dist/ax5uploader.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5core/master/dist/ax5core.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-dialog/master/dist/ax5dialog.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-uploader/master/dist/ax5uploader.js"></script>
    <script src="https://cdn.rawgit.com/thomasJang/jquery-direct/master/dist/jquery-direct.min.js"></script>
</head>
<body>
    <div class="DH20"></div>
    
    <div data-ax5uploader="upload1">
        <button data-ax5uploader-button="selector" class="btn btn-primary">Select File (*/*)</button>
        (Upload Max fileSize 20MB)
        <div data-uploaded-box="upload1" data-ax5uploader-uploaded-box="inline"></div>
    </div>
    
    <div style="padding: 0;" data-btn-wrap>
        <h3>control</h3>
        <button class="btn btn-default" data-upload-btn="getUploadedFiles">getUploadedFiles</button>
        <button class="btn btn-default" data-upload-btn="removeFileAll">removeFileAll</button>
    </div>
    <!-- customizing?-->
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary closeModal">취소</button>
      <button type="button" class="btn btn-secondary" id="button-save" data-dismiss="modal">저장</button>
    </div>


<script type="text/javascript">
  // $("#button-save").click(
  //   function () {
  //     let param = $("button-save").val();
  //   }
  // );




    $(function () {
        var API_SERVER = "http://localhost:8080";
        var DIALOG = new ax5.ui.dialog({
            title: "AX5UI"
        });
        var UPLOAD = new ax5.ui.uploader({
            //debug: true,
            target: $('[data-ax5uploader="upload1"]'),
            form: {
                action: API_SERVER + "/api/v1/ax5uploader",
                fileName: "file"
            },
            multiple: true,
            manualUpload: false,
            progressBox: true,
            progressBoxDirection: "left",
            dropZone: {
                target: $('[data-uploaded-box="upload1"]')
            },
            uploadedBox: {
                target: $('[data-uploaded-box="upload1"]'),
                icon: {
                    "download": '<i class="fa fa-download" aria-hidden="true"></i>',
                    "delete": '<i class="fa fa-minus-circle" aria-hidden="true"></i>'
                },
                columnKeys: {
                    name: "fileName",
                    type: "ext",
                    size: "fileSize",
                    uploadedName: "saveName",
                    uploadedPath: "",
                    downloadPath: "",
                    previewPath: "",
                    thumbnail: ""
                },
                lang: {
                    supportedHTML5_emptyListMsg: '<div class="text-center" style="padding-top: 30px;">Drop files here or click to upload.</div>',
                    emptyListMsg: '<div class="text-center" style="padding-top: 30px;">Empty of List.</div>'
                },
                onchange: function () {
 
                },
                onclick: function () {
                    // console.log(this.cellType);
                    var fileIndex = this.fileIndex;
                    var file = this.uploadedFiles[fileIndex];
                    switch (this.cellType) {
                        case "delete":
                            DIALOG.confirm({
                                title: "AX5UI",
                                msg: "Are you sure you want to delete it?"
                            }, function () {
                                if (this.key == "ok") {
                                    $.ajax({
                                        contentType: "application/json",
                                        method: "post",
                                        url: API_SERVER + "/api/v1/ax5uploader/delete",
                                        data: JSON.stringify([{
                                            id: file.id
                                        }]),
                                        success: function (res) {
                                            if (res.error) {
                                                alert(res.error.message);
                                                return;
                                            }
                                            UPLOAD.removeFile(fileIndex);
                                        }
                                    });
                                }
                            });
                            break;
 
                        case "download":
                            if (file.download) {
                                location.href = API_SERVER + file.download;
                            }
                            break;
                    }
                }
            },
            validateSelectedFiles: function () {
                console.log(this);
                // 10개 이상 업로드 되지 않도록 제한.
                if (this.uploadedFiles.length + this.selectedFiles.length > 10) {
                    alert("You can not upload more than 10 files.");
                    return false;
                }
 
                return true;
            },
            onprogress: function () {
 
            },
            onuploaderror: function () {
                console.log(this.error);
                DIALOG.alert(this.error.message);
            },
            onuploaded: function () {
 
            },
            onuploadComplete: function () {
 
            }
        });
 
        // 파일 목록 가져오기
        $.ajax({
            method: "GET",
            url: API_SERVER + "/api/v1/ax5uploader",
            data : {
              subPath : "NOTICE",
              uploadType: "UPT"
            },
            success: function (res) {
 
                console.log(res);
                UPLOAD.setUploadedFiles(res);
            }
        });
 
        // 컨트롤 버튼 이벤트 제어
        $('[data-btn-wrap]').clickAttr(this, "data-upload-btn", {
            "getUploadedFiles": function () {
                var files = ax5.util.deepCopy(UPLOAD.uploadedFiles);
                console.log(files);
                DIALOG.alert(JSON.stringify(files));
            },
            "removeFileAll": function () {
 
                DIALOG.confirm({
                    title: "AX5UI",
                    msg: "Are you sure you want to delete it?"
                }, function () {
 
                    if (this.key == "ok") {
 
                        var deleteFiles = [];
                        UPLOAD.uploadedFiles.forEach(function (f) {
                            deleteFiles.push({id: f.id});
                        });
 
                        $.ajax({
                            contentType: "application/json",
                            method: "post",
                            url: API_SERVER + "/api/v1/ax5uploader/delete",
                            data: JSON.stringify(deleteFiles),
                            success: function (res) {
                                if (res.error) {
                                    alert(res.error.message);
                                    return;
                                }
 
                                UPLOAD.removeFileAll();
                            }
                        });
 
                    }
                });
            }
        });
    });
</script>
</body>
</html>
